/* Scope: This file is typically used for styles specific to components rendered by App.jsx (About, Portfolio, Contact, Resume). If your image is part of a component that is used only in the context of App, you might prefer to include the styles here.

Usage: Apply styles in App.css if you want styles to be scoped to components that are rendered by App.jsx and if you want to keep component-specific styles organized within the component's CSS file. */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* ABOUT ME */
/* Styling the profile image */
.profile-picture {
  width: 200px;
  height: auto;
  border-radius: 4%;
  /* margin-right: 20px; */
}

.about-section {
  padding-left: 20px;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  /* padding: 20px; */
}

.about-content {
  max-width: 600px;
  margin-left: 20px;
}

/* PORTFOLIO */
/* CONTACT */
/* RESUME */